@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#2196f3, #E100FF);
}

.firebaseui-container {
  z-index: 12;
    width: 360px;
    padding: 15px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}


.firebaseui-title,
.firebaseui-subtitle {
  color: #fff;
  direction: ltr;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: left;
}

.firebaseui-label {
  color: #fff;
  direction: ltr;
  font-size: 16px;
  text-align: left;
}


/* Override MDL floating text field label color. */
.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
  color: lime;
  font-weight: bold;
}
.firebaseui-textfield.mdl-textfield .firebaseui-input {
  border-color: #fff;
}
.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: lime;
}
.firebaseui-link {
  color: #6DD5FA;
  font-variant: normal;
  font-weight: bold;
  text-decoration: none;
}

.firebaseui-link:hover {
  text-decoration: underline;

}

.bubbles {
    position: absolute;
    bottom: -120px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    width: 100%;
    justify-content: space-around;
}

.bubbles span {
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.1);
    animation: move 10s linear infinite;
    position: relative;
    overflow: hidden;
}

@keyframes move {
    100% {
        transform: translateY(-100vh);
    }
}

.bubbles span.one {
    animation-delay: 2.2s;
    transform: scale(2.15)
}

.bubbles span.two {
    animation-delay: 3.5s;
    transform: scale(1.55)
}

.bubbles span.three {
    animation-delay: 0.2s;
    transform: scale(0.35)
}

.bubbles span.four {
    animation-delay: 6s;
    transform: scale(2.15)
}

.bubbles span.five {
    animation-delay: 7s;
    transform: scale(0.5)
}

.bubbles span.six {
    animation-delay: 4s;
    transform: scale(2.5)
}

.bubbles span.seven {
    animation-delay: 3 transform scale(1.5)
}

.bubbles span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 40%;
    transform: skew(45deg) translateX(150px);
    background: rgba(255, 255, 255, 0.15);
    animation: mirror 3s linear infinite;
}

@keyframes mirror {
    100% {
        transform: translateX(-450px);
    }
}

.bubbles span.one:before {
    animation-delay: 1.5s;
}

.bubbles span.two:before {
    animation-delay: 3.5s;
}

.bubbles span.three:before {
    animation-delay: 2.5s;
}

.bubbles span.four:before {
    animation-delay: 7.5s;
}

.bubbles span.five:before {
    animation-delay: 4.5s;
}

.bubbles span.six:before {
    animation-delay: 0.5s;
}

.bubbles span.seven:before {
    animation-delay: 6s;
}

.box {
    position: relative;
}

.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s*var(--i));
}

@keyframes animate {
    0%,
    100% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
}

.box .square:nth-child(1) {
    top: -50px;
    right: -60px;
    height: 100px;
    width: 100px;
}

.box .square:nth-child(2) {
    top: 150px;
    left: -100px;
    height: 120px;
    width: 120px;
    z-index: 2;
}

.box .square:nth-child(3) {
    bottom: 50px;
    right: -60px;
    height: 80px;
    width: 80px;
    z-index: 2;
}

.box .square:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}

.box .square:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}

